#page-auth
  %section.form-section
    .inner
      = link_to root_path, class: 'logo' do
        = icon "exercism-with-logo-black", "Exercism's Logo"

      .intro
        %h2 Welcome!.
        %p click here to access! #{link_to 'Universidad Austral Exercism', 'http://facultaddeingenieria.duckdns.org'}.

  = render "devise/shared/information"
